* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

body {
    background-image: url("../assets/rickAndMorty.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}